<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>JAL</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>

<body>
 <div class="login">
	<h2><b>Predict WQI of Surface Water</b></h2>
  <br>
     <h4> Enter the following values to predict the WQI</h4>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="do_sat" placeholder="Dissolved Oxygen Sat(%)" required="required" />
      <input type="text" name="ph" placeholder="pH" required="required" />
		  <input type="text" name="bod" placeholder="Biological Oxygen Demand" required="required" />
      <input type="text" name="temp" placeholder="Temperature" required="required" />
      <input type="text" name="po4" placeholder="Phosphate" required="required" />
      <input type="text" name="no3" placeholder="Nitrate" required="required" />
      <input type="text" name="turb" placeholder="Turbidity" required="required" />
      <input type="text" name="ts" placeholder="Total Solids" required="required" />

        <button type="submit" class="btn">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>